<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of the "dragon-code/pretty-array" project.
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ @author Andrey Helldar <helldar@dragon-code.pro>
  ~
  ~ @copyright 2023 Andrey Helldar
  ~
  ~ @license MIT
  ~
  ~ @see https://github.com/TheDragonCode/pretty-array
  -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
        backupGlobals="false"
        backupStaticProperties="false"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        colors="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <html outputDirectory="build/logs/coverage" />
            <text outputFile="build/logs/coverage.txt" />
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
